<ion-content>
  <ion-grid class="ion-margin">
    <ion-row class="ion-nowrap" size-lg="6" offset-lg="3">
      <ion-col class="weekly-grid-col ion-text-center grid-header">
        <ion-note>Asset</ion-note>
      </ion-col>
      <ion-col class="weekly-grid-col ion-text-center grid-header">
        <ion-note>Shares</ion-note>
      </ion-col>
      <ion-col class="weekly-grid-col ion-text-center grid-header">
        <ion-note>Cost</ion-note>
      </ion-col>
      <ion-col class="weekly-grid-col ion-text-center grid-header">
        <ion-note>Current</ion-note>
      </ion-col>
      <ion-col class="weekly-grid-col ion-text-center grid-header">
        <ion-note>Equity</ion-note>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="weeklySummaryData?.assets.length === 0" size-lg="6" offset-lg="3">
      <ion-col class="weekly-grid-col">
        <ion-note class="ion-margin">No Data to display!</ion-note>
      </ion-col>
    </ion-row>
    <div *ngIf="weeklySummaryData?.assets.length > 0">
      <ion-row *ngFor="let item of weeklySummaryData?.assets" class="ion-nowrap" size-lg="6" offset-lg="3">
        <ion-col class="weekly-grid-col">
          <ion-note>{{ item.assetName }}</ion-note>
        </ion-col>
        <ion-col class="weekly-grid-col ion-text-center">
          <ion-note>{{ item.quantity }}</ion-note>
        </ion-col>
        <ion-col class="weekly-grid-col ion-text-right">
          <ion-note>{{ item.cost | currency }}</ion-note>
        </ion-col>
        <ion-col class="weekly-grid-col ion-text-right">
          <ion-note>$320.00</ion-note>
        </ion-col>
        <ion-col class="weekly-grid-col ion-text-right">
          <ion-note>{{ (item.cost * item.quantity) | currency }}</ion-note>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
