<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/sectors'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'UPDATE SECTOR' : 'CREATE SECTOR' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">
        <ion-icon name="save" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form [formGroup]="sectorForm">
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <ion-item>
          <ion-label position="floating">Sector</ion-label>
          <ion-input type="text" formControlName="sectorName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-select placeholder="Select One" formControlName="sectorType" #sectorTypeElement
            (ionChange)="sectorTypeChange($event, sectorTypeElement)" selectedText="{{assetTypes[f.sectorType.value]}}"
            value="f.sectorType.value">
            <ion-select-option *ngFor="let type of assetTypeItems" [value]="type">{{assetTypes[type]}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Active</ion-label>
          <ion-toggle color="success" formControlName="active" slot="end"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

