<form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-note *ngIf="(f.email.errors && !f.email.errors.required) && (f.email.dirty || f.email.touched)" color="danger">
            E-Mail is invalid!
          </ion-note>
          <ion-note *ngIf="(f.email.errors && f.email.errors.required) && (f.email.dirty || f.email.touched)" color="danger">
            E-Mail is required!
          </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-item class="form-group">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-note *ngIf="(f.password.errors && !f.password.errors.required && !f.password.errors.minlength) &&
            (f.password.dirty || f.password.touched)" color="danger">
            Password is invalid!
          </ion-note>
          <ion-note *ngIf="(f.password.errors && f.password.errors.required) && (f.password.dirty || f.password.touched)" color="danger">
            Password is required!
          </ion-note>
          <ion-note *ngIf="(f.password.errors && f.password.errors.minlength) && (f.password.dirty || f.password.touched)" color="danger">
            Password should be atleast 8 characters!
          </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-button type="submit" color="primary" expand="full" [disabled]="loginForm.invalid">
          LOGIN
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="error">
      <ion-col size-lg="4" offset-lg="4" class="ion-text-center">
          <ion-badge class="ion-text-wrap" color="danger">
            {{ error }}
          </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
